<div class="ui inverted stackable menu">
    <div class="header item">
        <i class="material-icons">
            directions_bike
        </i>
    </div>
    <a href="/" class="item">Metrics</a>
    <a href="/" class="item">Visuals</a>
    <a href="/stats" class="item">Stats</a>
</div>