<%- include('includes/header')  -%>
<h1><%= title %></h1>

<div class="ui grid">
    <div class="six wide column">
        <div class="ui statistic">
            <div class="label">
                Avg Rental Duration
            </div>
            <div class="value">
                26
            </div>
            <div class="label">
                Mins
            </div>
        </div>
    </div>
    <div class="six wide column">
        <div class="ui statistic">
            <div class="value">
                5,550
            </div>
            <div class="label">
                Downloads
            </div>
        </div>
    </div>
    <div class="six wide column">
        <div class="ui statistic">
            <div class="value">
                5,550
            </div>
            <div class="label">
                Downloads
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer')  -%>